autopep8==1.6.0
boto3==1.20.46
botocore==1.23.46
certifi==2021.10.8
charset-normalizer==2.0.11
idna==3.3
jmespath==0.10.0
psycopg2==2.9.3
pycodestyle==2.8.0
python-dateutil==2.8.2
requests==2.27.1
s3transfer==0.5.0
six==1.16.0
smart-open==5.2.1
toml==0.10.2
tqdm==4.62.3
urllib3==1.26.8
